.container {
	padding: 0.5em;
	display: flex;
	flex-direction: column;

	background-color: #0a192f;
	color: white;
}

.aboutTitle {
	margin-top: 2em;
	text-align: center;
}

.aboutContainer,
.pictureContainer {
	max-width: 1800px;
	margin: 0 auto;
}

.profilePicture {
	border-radius: 40px;
}
