.container {
	background-color: #0a192f;
	color: white;
	font-family: Roboto;

	padding-bottom: 1em;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	height: 90vh;

	/* border: 3px solid green; */
}

/* .animationContainer {
	margin-left: 1em;

	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 300px;
	min-height: 300px;
	border: 3px solid purple;
} */

/* .contactTitle {
	padding-top: 3em;
	border: 1px solid purple;
} */

.formContainer {
	/* margin: 0 auto; */
	padding: 0.5em 1em;
	min-width: 500px;
	max-width: 800px;
	/* border: 2px solid yellow; */
}

.nameContainer,
.formInfoContainer {
	display: flex;

	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	column-gap: 0.5em;

	/* border: 3px solid purple; */
}

.animation {
	margin-left: 0.5em;
}

.contactForm {
	width: 100%;
	border-radius: 5px;
	opacity: 0.6;
}

.formTitle {
	text-align: center;
}

.textArea {
	margin-left: 0.5em;
	margin-right: 0.5em;

	border-radius: 5px;
	opacity: 0.6;

	width: 98%;
	height: 100%;

	min-height: 200px;
}

.contactButton {
	max-width: 30%;
	margin: 0.5em 0.5em 0.5em 0;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

@media (max-width: 800px) {
	.animationContainer {
		display: none;
	}
}
