* {
	box-sizing: border-box;
	border: 1px solid black;
}

html,
body {
	/* max-width: 100vw; */
	padding: 0;
	margin: 0;
}

/* body {
	background-image: url("../../public/assets/banner-bg.png");
	background-repeat: no-repeat;
} */

a {
	color: inherit;
	text-decoration: none;
}
