.container {
	background-color: #0a192f;
	font-family: Roboto;

	width: 100%;
	top: 0;
	left: 0;
	position: fixed;

	border-bottom: 1px solid grey;
}

.navContainer {
	margin: 0 auto;
	max-width: 3000px;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	/* border: 1px solid yellow; */
}

.linkContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid orange; */
}

.signature {
	font-size: 1.25rem;
	margin: 1em auto 0.5em 1em;

	font-family: "Dancing Script", cursive;
	color: white;
	text-decoration: none;
}

.navLinks,
.homeLink {
	font-size: 1.25rem;
	margin: 1em 1.25em 0.5em 1em;

	color: white;
	text-decoration: none;
	/* border: 1px solid red; */
}

.signature:hover,
.signature:focus,
.navLinks:hover,
.navLinks:focus,
.homeLink:hover,
.homeLink:focus {
	color: grey;
	/* border-bottom: 1px solid grey; */
	cursor: pointer;
}

/* Very Small */
@media screen and (max-width: 360px) {
	.signature {
		display: none;
	}
	.navContainer {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.navLinks {
		font-size: 1.25rem;
		margin: 0.5em 0.75em 0.5em 0.25em;
	}

	.homeLink {
		font-size: 1.25rem;
		margin: 0.5em 0.75em 0.5em 0.25em;
	}
}

/* Mobile */
@media screen and (min-width: 361px) and (max-width: 599px) {
	.signature {
		font-size: 1.25rem;
	}

	.linkContainer {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.navLinks {
		font-size: 1.25rem;
		margin: 0.5em 0.75em 0.5em 0.25em;
	}

	.homeLink {
		display: none;
	}
}
