.container {
	background-color: #0a192f;
	color: white;
	font-family: Roboto;

	display: flex;
	align-items: center;
	justify-content: space-between;

	border-top: 1px solid grey;
}

.versionContainer {
	padding-top: 1em;
}

.logo {
	margin-left: 0.5em;
}

.version {
	font-weight: 500;
	border-bottom: 2px solid white;
}

.version:hover {
	cursor: pointer;
	color: grey;
	border-bottom: 2px solid grey;
}

.iconContainer {
	margin: 0 1em;
	height: 100%;
}

.icons {
	height: 3em;
	width: 1.5em;
	margin: 0 1em;
	color: white;
}

.icons:hover {
	color: grey;
}
