.container {
	background-color: #0a192f;
	color: white;
	padding: 1em;
	padding-bottom: 15em;

	/* display: flex; */
	/* flex-direction: column; */

	/* border: 2px solid red; */
}

.skillsContainer > ul,
.toolsContainer > ul {
	margin: 0;
	list-style: none;

	display: grid;
	grid-row: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 2em;
	row-gap: 2em;

	/* border: 2px solid red; */
}

.skillsContainer,
.toolsContainer {
	margin: 0 auto 1em auto;
	padding: 2em;
	max-width: 1800px;

	border: 2px solid grey;
	border-radius: 10px;
}

.frontEndTitle,
.toolsTitle,
.skillsTitle {
	margin: 0 auto 1em auto;
	max-width: 1800px;
}

.skillsTitle {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 3em;
}

/* 






ICON COLORS







 */

.icons {
	display: inline;
}

.react {
	color: #63dafb;
}

.javascript {
	color: #f0dc4e;
}

.bootstrap {
	color: #563f7b;
}

.html {
	color: #ed6535;
}

/* .styledComponents {
	color: #ca7db2;
} */

.typescript {
	color: #007bcc;
}

.css {
	color: #31aade;
}

.sass {
	color: #d870a5;
}

.vsCode {
	color: #41acf3;
}

.firebase {
	color: #ffcb2b;
}

.vite {
	color: #bf35ff;
}

.netlify {
	color: #37aeb8;
}
