.container {
	background-color: purple;
	padding: 0.5em;
}

.textContainer {
	max-width: 1800px;
	margin: 0 auto;
}

.buttonContainer {
	max-width: 1800px;
	margin: 0 auto;
}

.resumeButton {
	padding: 0.5em 1em;
	display: inline-block;
	border-radius: 10px;
}

.resumeButton:hover,
.resumeButton:focus {
	background-color: blue;
}
