.container {
	/* margin-top: 3.7em; */

	background-color: #0a192f;
	color: white;
	padding: 0.5em;
	font-family: Roboto;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	/* border: 2px solid black; */
}

.secondContainer {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 300px;
	min-width: 300px;

	/* border: 2px solid pink; */
}

.textContainer {
	max-width: 1800px;
	min-width: 5em;
	margin: 0 auto;
	padding: 5em;

	/* display: flex; */
	/* flex-direction: column; */
	flex-wrap: wrap;

	/* border: 2px solid yellow; */
}

.buttonContainer {
	margin: 0 auto;

	/* border: 2px solid orange; */
}

.animationContainer {
	margin: 0 auto;
	max-width: 1800px;
	min-width: 500px;
	min-height: 500px;

	display: flex;
	justify-content: center;
	align-items: center;

	/* border: 2px solid green; */
}

.smallIntro {
	font-size: 2rem;
	margin-bottom: 0;
	color: #4bf1d0;
}

.name {
	margin: 0;
	font-size: 10rem;

	/* display: flex;
	flex-wrap: wrap;
	flex-shrink: 1; */
}

.firstLineIntro {
	margin-bottom: 0;
	font-size: 1.25rem;
	color: grey;
}

.secondLineIntro {
	margin-top: 0;
	font-size: 1.75rem;
	color: grey;
}

.resumeButton {
	background-color: #4bf1d0;
	border: none;
}

.resumeButton:hover {
	background-color: white;
}

/* Very Small */
@media screen and (max-width: 360px) {
	.animationContainer {
		display: none;
	}
}

/* Mobile */
@media screen and (min-width: 361px) and (max-width: 599px) {
	.animationContainer {
		display: none;
	}
}
